<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cicerone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".data.control.DettagliFeedback"></activity>
        <activity android:name=".data.control.GestioneRichiesta" />
        <activity android:name=".data.control.DettaglioRichieste" />
        <activity android:name=".data.control.DettagliAttivita" />
        <activity android:name=".data.control.ElencoAttivita" />
        <activity android:name=".data.control.Creazione" />
        <activity android:name=".data.control.FormRicerca" />
        <activity android:name=".data.control.Cerca" />
        <activity
            android:name=".data.control.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".data.control.RegistrationActivity" />
        <activity
            android:name=".data.control.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".data.control.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".data.control.ElencoFeedback" />

        <!--suppress AndroidDomInspection -->
        <service android:name=".data.control.SendIt" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>